.panel-default>.panel-heading {
    background-color: #FFFFE3;
}

.methodColumn{
    width: 10%;
}

.sidebar {
    margin: 20px 0 0 20px;
}

.sidebar ul > li > a {
    text-decoration: none;
    margin: 1px auto 0 15px;
}

.content {
    margin: 20px 0 0 0;
}